.device-create-title {
    color: #01a3a6;   
}

.desktop-title {
    color: #01a3a6;
    font-size: medium;
}

.btn-device-create {
    height: inherit!important;
}

.device-error {
    color: red;
    margin-top: 15px;
}