/* Title & Header */
.title-default {
	color: #333;
}

.title-primary {
	color: #2759D4;
}

.title-secondary {
	color: #4E8D28;
}

.title {
	color: #01a3a6;
}

.title, .title-default, .title-primary, .title-secondary {
	font-weight: 500;
	font-size: 30px;
}

/* Button */
.btn {
	border-radius: 0px;
	color: #fff;
	font-size: large;
	cursor: pointer;
}

.btn-primary {
	background-color: #2759D4!important;
    color: #fff;
}

.btn-danger {
	background-color: #dc3545 !important;
    color: #fff;
}

.btn-border {
    border: 2px solid #4E8D28;
    background-color: transparent!important;
    color: #4E8D28;
}

.btn-border:hover {
    border: 2px solid #4E8D28;
    color: #4E8D28;
}

.btn-border:active {
    color: #4E8D28;
}

.btn-nav {
	border: 1px solid #fff !important;
}

.btn-nav-active {
	background-color: #4E8D28!important;
}

.btn-nav:hover {
    background-color: #4E8D28!important;
}

.btn-search {
	margin-top: 0px;
}

.btn-default {
	background-color: #01a3a6;
	border: 1px solid #01a3a6;
}

.btn-default:active {
	background-color: rgba(1, 163, 166, 0.5);
}

.btn-is-error {
	background-color: rgba(1, 163, 166, 0.5);
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-border:active + .btn-primary:focus,
.btn-border:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-check:focus + .btn-primary,
.btn-primary:focus {
	box-shadow: initial !important;
}

/* Card */
.description-card {
    background-color: rgba(255,255,255,0.8);
    color: #333;
    padding: 20px;
    border-radius: 5px;
    font-size: large;
}