.login-logo {
    width: 300px;
    align-self: center;
}

.login-title {
    width: 100%;
    color: #01a3a6;
    font-size: 30px;
    text-align: center;
}

.rm-margin {
    margin-bottom: 0px!important;
}

.reset-password-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reset-password-wrapper > span {
    text-decoration: underline;
    color: blue;
    font-size: large;
    cursor: pointer;
    margin-top: 10px;
}

.reset-password-wrapper > span:active {
    color: #c6c6c6;
}