.login-logo {
    width: 500px;
    padding-bottom: 50px;
}

.login-title {
    color: #01a3a6;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.forget-password-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}