@font-face {
	font-family: "Pyidaungsu";
	src: url(../fonts/Pyidaungsu-Bold.woff);
}

@font-face {
	font-family: "ZawgyiOne";
	src: url(../fonts//Zawgyi-One.woff);
}

body {
	font-family: "Pyidaungsu" !important;
}

/* Font */
.zawgyi {
	font-family: "ZawgyiOne" !important;
}

.unicode {
	font-family: "Pyidaungsu" !important;
	font-weight: 800 !important;
}

.logo {
    width: 300px;
    margin-bottom: 30px;
}

.text {
	color: #333;
	font-size: 18px;
}

.back-arrow {
	border-radius: 50%;
	border: 1px solid #2759D4;
	padding: 5px;
	color: #2759D4;
	font-weight: 500;
	cursor: pointer;
}

.social-media-wrapper {
	height: 300px;
	margin-top: 50px;
}