
.select-device {
    border-radius: 0px!important;
}

.select-device:focus {
    outline: none !important;
    box-shadow: 0 0 0px rgba(0,0,0,0)!important;
}

.btn-plan-enter {
    margin-top: 30px;
    height: inherit!important;
}