.serial-key-label {
    color: #01a3a6;
    font-weight: 600;
}

.serial-key-input,
.serial-key-input > input {
    width: 110px!important;
}

.serial-key-input > input {
    font-size: 30px;
    text-transform: uppercase;
}

.btn-serial-key-enter {
    height: 60px!important;
    border: 0px!important;
    border-radius: 0px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: inherit!important;
    line-height: initial!important;
    padding: 0px;
}
